# Go Binaries and build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# CDC Application Checkpoints & State
/local_checkpoints/
checkpoint.sn
*_ckpt.json
*.tmp

# Go vendor directory (optional depending on your team's workflow)
/vendor/

# IDEs and OS files
.vscode/
.idea/
.DS_Store

# Text and plan files
*.txt
*.drawio
*.md

